<h3><%= @restaurant.name %></h3>

<ul>
  <li>Address: <%= @restaurant.address %>, <%= @restaurant.city %>, <%= @restaurant.state.upcase %> <%= @restaurant.zipcode %> </li>
  <li>Cuisine: <%= @restaurant.cuisine %> </li>
  <li>Added by: <%= @restaurant.creator.username  %></li>
</ul>

