<h2><%= @restaurant.name %></h2>
<div class="no-list-style">
  <ul>
    <li>Address: <%= @restaurant.address %>, <%= @restaurant.city %>, <%= @restaurant.state.upcase %> <%= @restaurant.zipcode %> </li>
    <li>Cuisine: <%= @restaurant.cuisine %> </li>
    <li>Added by: <%= @restaurant.creator.username  %></li>
  </ul>
</div>

<div class="reviews">
  <%= erb :"reviews/show", locals: { restaurant: @restaurant } %>
</div>

<div class="review-form">
  <h2>Leave a Review for <%= @restaurant.name %></h2>

  <% if logged_in? %>
    <% if @errors %>
      <%= erb :"_errors", locals: { errors: @errors } %>
    <% end %>
    <%= erb :"/reviews/new" %>
  <% else %>
    <%= erb :"/sessions/show" %>
  <% end %>
</div>
